.flex-container {
    display: flex;
    flex-direction: row;
}

.left-half, .right-half {
    flex: 1;
}
  
.margin-left-top {
    margin-left: 3rem !important;
    margin-top: 2rem;
    margin-right: 1rem !important;
}

.margin-right-top {
    margin-right: 3rem !important;
    margin-top: 5rem;
    margin-left: 1rem !important;
}

.input{
    min-height: 700px;
}
select.form-select {
    background-color: black;
    color: aliceblue;
    
}

.collapse input::placeholder {
    color: darkgrey;
}

#content {
    background-color: black;
    color: aliceblue;
}


/* For copy button */
.copy-btn {
    margin-left: 8.6rem;
    background-color: #ffffff;
    color: black;
    border: 1px solid rgb(0, 0, 0);
    padding: 4px 8px;
    font-size: 14px;
    cursor: pointer;
 }
 
 .copy-btn.clicked {
    background-color: #000000;
    color: #fff;
 }
 